<div class="container" *ngIf="authService.checkisAdmin() === true" >
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-warning" (click)="onAddContest()">Add Contest</button>
    </div>
  </div>
</div>

<br>

<div class="container main">
        
    <h5>Present Contest</h5>
  <div class="row">  
      <div class="col-md-6 head">
          Contest
        </div>
        <div class="col-md-2 head">
          Contest Code
        </div>
        <div class="col-md-2 head">
            Start Time
        </div>
        <div class="col-md-2 head">
          End Time
        </div>
      </div>
      <a
      class="nav-link contest"
      *ngFor="let i of contest"
      (click)="onSelectContest(i)">
        <div class="row">  
        <div class="col-md-6">
          {{i.name}}
        </div>
        <div class="col-md-2">
          {{i.id}}
        </div>
        <div class="col-md-2" [innerHTML]="replaceTZ(i.startTime)">
        </div>
        <div class="col-md-2" [innerHTML]="replaceTZ(i.endTime)">
        </div>
      </div>
    </a>    
</div>

