.contest{
    background: white;
    border-bottom: 1px solid rgba(39,39,39,.1);
    padding: 1% 1%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    font-size: 14px;
}

.head {
    padding: 2%;
    font-size: 14px;
    font-weight: bold;
    background: #111;
    color: #fff;
}
.row{
    margin: 0;
}
.nav-link {
    padding: 0.5%;
}

.main {
    background: white;
    padding: 2%;
}
.col-md-2 {
    text-align: center;
}
