
<div class="container main">
    <div class="col-md-12">
        <h5 class="display-4">{{ problem?.name }}</h5>
        <div class="row">
        <div class="col-md-9">
        <h5>Problem Code: {{ problem?.code }}</h5>
      </div>

    <div class="col-md-3">
    <button class="btn btn-success"
    (click)="onSelectSubmit()">Submit</button>
  </div>
</div>
</div>
        <hr>

      <div class="row problem">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h6>Problem Statement:</h6>
            <p>{{ problem?.description}}</p>
          </div>
          <div class="col-md-12">
            <h6>Input</h6>
            <p>{{ problem?.input_format}}</p>
          </div>
          <div class="col-md-12">
              <h6>Output</h6>
              <p>{{ problem?.output_format }}</p>
            </div>
          <div class="col-md-12">
            <h6>Constraints</h6>
            <p>{{problem?.constraints}}</p>
          </div>
          <div class="col-md-12">
            <h6>Input Testcase</h6>
            <p [innerText]="problem?.input_example"></p>
          </div>
          <div class="col-md-12">
              <h6>Output Testcase</h6>
              <p [innerText]="problem?.output_example"></p>
            </div>
          <div class="col-md-12">
            <h6>Explanations</h6>
            <p [innerText]="problem?.explanation_example"></p>
          </div>
          </div>
          <img *ngIf="base64Image" [src]="base64Image" >

    </div>

    <div class="col-md-4">
      <app-submission></app-submission>
  </div>

  </div>
  <hr>
  <div class="box">

    <b>Time Limit: </b><span [innerText]="problem?.timelimit"></span><b> ms</b><br>
    <b>Source Limit: </b><span [innerText]="problem?.timelimit"></span><b> byte</b><br>
    <b>Author: </b><span [innerText]="problem?.author"></span><br>
    <b>Languages: </b><span> C, C++, Java, Python</span>

  </div>
  <br>
  <br>
  <hr>
  <div>
      <h3 class="mb-2">Comment <i class="fa {{caretType}}" (click)="showComments()"></i></h3>
    <app-comment *ngIf='showComment'></app-comment>
  </div>
</div>
