<div class="container main">
  <div class="row">
    <h1 class="display-4">{{problem.name}}</h1>
    <h4>{{problem.code}}</h4>
  </div>
  <hr>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <p>{{problem.description}}</p>
      </div>
      <hr>
      <div class="col-md-12">
        <h5>Input</h5>
        <p>{{problem.input_format}}</p>
      </div>
      <hr>
      <div class="col-md-12">
          <h5>Output</h5>
          <p>{{problem.output_format}}</p>
        </div>
    </div>
  </div>
</div>