.main {
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding-top: 30px;
}

hr{
    border: 1px solid #111;
}

.problem{
    padding: 3%;
}

h6{
    font-weight: bold;
}

button{
 margin-left: 3.5%;
}
p{
  font-size: 15px;
}
.box{
  border: 1px solid #111;
  padding: 5%;
  background-color: rgb(201, 252, 235);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.side{
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.head {
    padding: 2%;
    font-size: 14px;
    font-weight: bold;
    background: #2c3e50;
    color: #fff;
    text-align: center;
}
