
<div class="container main">
  <div class="row">
      <div class="col-md-9">
          <h5 class="display-4">{{ problem?.name }}</h5>
          <div class="row">
          <div class="col-md-12">
          <h5>Problem Code: {{ problem?.code }}</h5>
        </div>
      </div>
      </div>
      <div class="col-md-3 pt-4">
        <p class="score">Score: {{problem?.score}}</p>
      <button class="btn btn-success"
      (click)="onSelectSubmit()">Submit</button>
    </div>
    </div>
        <hr>
      <div class="row problem">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h6>Problem Statement:</h6>
            <p [innerHtml]="problem?.description"></p>
          </div>
          <div class="col-md-12">
            <h6>Input</h6>
            <p [innerHtml]="problem?.input_format"></p>
          </div>
          <div class="col-md-12">
              <h6>Output</h6>
              <p [innerHtml]="problem?.output_format"></p>
            </div>
          <div class="col-md-12">
            <h6>Constraints</h6>
            <p [innerHtml]="problem?.constraints"></p>
          </div>
          <div class="col-md-12">
            <h6>Input Testcase</h6>
            <p [innerHtml]="problem?.input_example"></p>
          </div>
          <div class="col-md-12">
              <h6>Output Testcase</h6>
              <p [innerHtml]="problem?.output_example"></p>
            </div>
          <div class="col-md-12">
            <h6>Explanations</h6>
            <p [innerHtml]="problem?.explanation_example"></p>
          </div>
          </div>
          <img *ngIf="base64Image && problem.img !== null" [src]="base64Image" >

    </div>

    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4 head">
                Time/Date
              </div>
              <div class="col-md-2 head">
                Res
              </div>
              <div class="col-md-3 head">
                Lang
              </div>
              <div class="col-md-3 head">
                Code
              </div>
              </div>
              <div class="side">

      <app-submission></app-submission>
              </div>
  </div>

  </div>
  <hr>
  <div class="box">

    <b>Time Limit: </b><span [innerText]="problem?.timelimit"></span><b> ms</b><br>
    <b>Source Limit: </b><span [innerText]="problem?.sourcelimit"></span><b> byte</b><br>
    <b>Author: </b><span [innerText]="problem?.author"></span><br>
    <b>Languages: </b><span> C, C++, Java, Python</span>

  </div>
  <br>
  <br>
  <hr>
  <div class="pb-3 mb-5">
      <h3 class="mb-2">Comment <i class="fa {{caretType}}" (click)="showComments()"></i></h3>
    <app-comment *ngIf='showComment'></app-comment>
  </div>
</div>
