.topbar {
    z-index: 50;
}

.navbar{
    font-size: 14px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
}

.topbar .top-navbar .navbar-header {
    line-height: 45px;
    text-align: center;
}
.topbar .navbar-header {
    background: #2ca8ff;
    color: white;
}

.btn-light:hover{
    color: #111;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.collaps{
    padding: 9px 0;
}

.btn-light:not([disabled]):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: #111;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.nav-link{
    color: #111;
}
@media (min-width: 768px){
    .navbar-header {
        width: 240px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
}
