<div class="container">
    <div class="row">
              <div class="col-md-6 head">
                Problem
              </div>
              <div class="col-md-3 head">
                Problem Code
              </div>
              <div class="col-md-3 head">
                Successful Submission
              </div>
            </div>
            <a
            class="nav-link problem"
            *ngFor="let i of problems"
            (click)="onSelectProblem(i.contest,i.code)">
              <div class="row">
                <div class="col-md-6">
                  {{i.name}}
                </div>
                <div class="col-md-3">
                  {{i.code}}
                  </div>
              </div> 
         </a>
    <hr>
  </div>
  