p{
    margin: 8px 0;
}

.title{
    padding-top: 10px;
    background: #343a40;
    color: white;
}
a{
    color: black;
    padding: 0;
}

hr{
    margin: 0;
    border: 0.5px solid grey;
}

.problem{
    background: white;
}