
.file-upload{
    padding: 10px;
    background: red; 
    display: table;
    color: #fff;
}

input[type="file"] {
   display: none;
}

textarea{
    overflow-x: hidden;
}

.select {
    margin: 2% 1%;
}

.options{
    margin-left: 2%; 
}