
<img  src="../../../assets/contact.png" alt="Card image cap">
<div class="container">
  <div class="col-md-7">
    <div class="container">

        <div class="form-group">
            <div class="disp">Get In Touch !</div>
            <p>Please fillout the quick formand we will be in touch with lightening speed</p>

            <div class="col-md-8">
              <hr class="my-4">
              <input type=text class="form-control" id="name" placeholder="Name">
              <input type="email" class="form-control" id="emailId" placeholder="Email Id">
              <textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
              <button class="btn btn-lg btn-success">Send</button>
            </div>
      </div>

    </div>
  </div>
</div>
