<div class="container">
    <div class="row">
      <div class="col-md-12">
      <div class="display-4">Add Problem</div>
      <form [formGroup]="form" (submit)="onAddProblemSubmit()">
        <div class="form-group">  
          <label for="name">Problem Name</label>
          <input type="text"  
          name="name" 
          formControlName="name" 
          class="form-control" 
          placeholder="Enter Name" 
          autocomplete="off"
          [ngClass]="{'is-invalid': (form.controls.name.errors && form.controls.name.dirty) , 'is-valid': !form.controls.name.errors}">
        </div>
    
        <div class="form-group">
          <label for="id">Problem Code</label>
          <input type="text"
           name="code" 
           formControlName="code" 
           class="form-control" 
           placeholder="Enter contest ID" 
           autocomplete="off"
           [ngClass]="{'is-invalid': (form.controls.code.errors && form.controls.code.dirty) , 'is-valid': !form.controls.code.errors}">
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="level">Problem Level</label>
                <input type="text" 
                name="level" 
                formControlName="level" 
                class="form-control" 
                placeholder="Problem Level" 
                autocomplete="off"
                [ngClass]="{'is-invalid': (form.controls.level.errors && form.controls.level.dirty) , 'is-valid': !form.controls.level.errors}">
              </div>
              </div>
              <div class="col-md-6">
              <div class="form-group">
                  <label for="Author">Author</label>
                  <input type="text"
                  name="author" 
                  formControlName="author" 
                  class="form-control" 
                  placeholder="Author Name" 
                  autocomplete="off"
                  [ngClass]="{'is-invalid': (form.controls.author.errors && form.controls.author.dirty) , 'is-valid': !form.controls.author.errors}">
                </div>
              </div>
          </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="Input Format">Input Format</label>
              <textarea 
              name="input_format" 
              formControlName="input_format" 
              class="form-control" 
              placeholder="Input Format" 
              autocomplete="off"
              [ngClass]="{'is-invalid': (form.controls.input_format.errors && form.controls.input_format.dirty) , 'is-valid': !form.controls.input_format.errors}">
              </textarea>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label for="output_format">Output format</label>
                <textarea
                name="output_format" 
                formControlName="output_format" 
                class="form-control" 
                placeholder="output_format" 
                autocomplete="off"
                [ngClass]="{'is-invalid': (form.controls.output_format.errors && form.controls.output_format.dirty) , 'is-valid': !form.controls.output_format.errors}">
              </textarea>
              </div>
            </div>
        </div>
        <div class="form-group">
          <label for="Description">Description</label>
          <textarea 
          name="description" 
          formControlName="description" 
          class="form-control" placeholder="Enter Description" autocomplete="off" rows="10"> 
          </textarea>
        </div>
        <div class="row">
          <div class="col-md-6">
          <div class="form-group">  
            <label for="timelimit">Time Limit</label>
            <input type="text"  
            name="timelimit" 
            formControlName="timelimit" 
            class="form-control" 
            placeholder="Enter Time Limit" 
            autocomplete="off"
            [ngClass]="{'is-invalid': (form.controls.timelimit.errors && form.controls.timelimit.dirty) , 'is-valid': !form.controls.timelimit.errors}">
          </div>
          </div>
          <div class="col-md-6">
          <div class="form-group">  
              <label for="sourcelimit">Source Limit</label>
              <input type="text"  
              name="sourcelimit" 
              formControlName="sourcelimit" 
              class="form-control" 
              placeholder="Enter Source Limit" 
              autocomplete="off"
              [ngClass]="{'is-invalid': (form.controls.sourcelimit.errors && form.controls.sourcelimit.dirty) , 'is-valid': !form.controls.sourcelimit.errors}">
            </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Input TestCase">Input Testcase</label>
                  <textarea 
                  name="input_example" 
                  formControlName="input_example" 
                  class="form-control" 
                  placeholder="Input TestCase" 
                  autocomplete="off"
                  [ngClass]="{'is-invalid': (form.controls.input_example.errors && form.controls.input_example.dirty) , 'is-valid': !form.controls.input_example.errors}">
                  </textarea>
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                    <label for="output_example">Output Testcase</label>
                    <textarea
                    name="output_example" 
                    formControlName="output_example" 
                    class="form-control" 
                    placeholder="Output Test case" 
                    autocomplete="off"
                    [ngClass]="{'is-invalid': (form.controls.output_example.errors && form.controls.output_example.dirty) , 'is-valid': !form.controls.output_example.errors}">
                  </textarea>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Input TestCase">Input File</label>
                  <textarea 
                  name="Input" 
                  formControlName="Input" 
                  class="form-control" 
                  placeholder="Input TestCase" 
                  autocomplete="off"
                  [ngClass]="{'is-invalid': (form.controls.Input.errors && form.controls.Input.dirty) , 'is-valid': !form.controls.Input.errors}">
                  </textarea>
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                    <label for="output_example">Output File</label>
                    <textarea
                    name="Output"
                    formControlName="Output" 
                    class="form-control" 
                    placeholder="Output Test case" 
                    autocomplete="off"
                    [ngClass]="{'is-invalid': (form.controls.Output.errors && form.controls.Output.dirty) , 'is-valid': !form.controls.Output.errors}">
                  </textarea>
                  </div>
                </div>
            </div>
            
        <div class="form-group">
            <label for="Explanation Example">Explanation Example</label>
            <textarea 
            name="explanation_example" 
            formControlName="explanation_example" 
            class="form-control" placeholder="Explanation Example" autocomplete="off" rows="10"> 
            </textarea>
          </div>

        <input 
        [disabled]="!form.valid"
        type="submit" class="btn btn-primary" value="Add Problem">
      </form>
    </div>
    </div>
  </div>