    <div class="sample-header">
        <div class="sample-header-section">
         </div>
      </div>
      <div class="sample-section-wrap">
        <div class="sample-section">
          <h1 class="display-4 text-center">Infinity War</h1>
          <br>          
          <div class="row">
            <div class="col-md-10">
              <h4><strong>ABOUT</strong></h4>
              <br>
                <p>Welcome to Infinity War, Online Coding event of EDGE'18 presented by Team Compute@id.
                  A 3-day event which is full of excitement and an arena is set to fight out.
                    Dive into this arena of battle to face off <strong>THANOS</strong> by forming your own <strong>AVENGERS team.</strong>
                  <br>  
                  The more the strength of the team, more time you are going to get <strong>to knock THANOS out.</strong>
                  <br>
                  <em>Compete against others and the one with the more problems solved will emerge as the Ultimate Savior of the Universe.</em>
              </p>
              <br>
              <h4><strong>BRIEF ABOUT INFINITY WAR</strong></h4>
              <br>
              <p>As the Avengers and their allies have continued to protect the world from threats that are too large for any hero to handle, a new danger has emerged from the cosmic shadows: Thanos.
                 A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality.
                  Everything the Avengers have fought for has led up to this moment - the fate of Earth and its existence has never been more uncertain. </p>
              <br>
              <h4><strong>RULES</strong></h4>
              <br>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">The Portal for Coding will come live on 30th March, 2018 at 19:00 IST.</li>
                <li class="list-group-item">You have got <strong>10 AVENGERS character</strong> and <strong>36 HRS</strong> to compete for and form a team of <strong>AVENGERS</strong> with as many characters you can. </li>
                <li class="list-group-item">The Characters are divided into three Grades which will have their own sets of Questions to solve.</li>
                <li class="list-group-item">The Third Grades slots are opened first. It will contain 4 characters <strong>Captain America, Ant Man, Spider Man and Black Widow.</strong> 
                  Each will contain 3 Problems to solve.</li>
                <li class="list-group-item">The Second Grade slots are opened after 8 HRS of start. It will contain 3 characters <strong>Doctor Strange, Black Panther and Star Lord</strong>.
                  Each will contain 4 Problems to solve.
                  <br>
                  <strong>Note: You can still solve any of the grades all slots are opened anytime during first 36 HRS</strong>
                </li>
                <li class="list-group-item">
                  The First and Final Grade slots are started after 16 HRS of start. It will contain 3 Major characters <strong>Iron Man, HULK and Thor</strong>.
                  Each will contain 4 Problems to solve.
                </li>
                <li class="list-group-item"><strong>Category wise rules are given inside contest.</strong></li>
                <li class="list-group-item">
                  <strong>FINAL SHOWDOWN</strong>
                  <br>
                  Scorelist freezes after First 36 HRS of the event and whatever be your score on basis of that, time will be calculated and that will
                   be the time limit to participate in the final showdown.
                </li>
                <li class="list-group-item">The Final Showdown will start at 19:00 IST on 1st April, 2018.</li>
                <li class="list-group-item">This round will be of 6 Problems to be solved. Each Wrong Subission or a TLE will fetch you a penalty. Be Confident on your algorithm.</li>
                <li class="list-group-item">The Tie breaker will be decided on penalties and Time taken for submission.</li>
                <li class="list-group-item">The One on the top of the Ranklist at the end would emerge as the Ultimate Winner of the Conquest against THANOS.</li>
              </ul>
            </div>
            <div class="col-md-2">
              <button class="btn btn-success" (click)="onParticipateClick()">Participate</button>
            </div>
          </div>

        </div>
      </div>
