<div class="container">
  <form [formGroup]="form" (submit)="onEdit()">
      <div class="row">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Name" value={{user.name}} >
          </div>
        </div>

        <div class="row">
          <label for="username" class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-10">
            <input type="text" formControlName="username" class="form-control" id="name" placeholder="Enter Userame" value={{user.username}} disabled="true">
          </div>
        </div>

        <div class="row">
          <label for="email_id" class="col-sm-2 col-form-label">Email Id</label>
          <div class="col-sm-10">
            <input type="email" formControlName="email_id" class="form-control"  placeholder="Enter Email" value={{user.email_id}} disabled="true">
          </div>
        </div>

        <div class="row">
          <label for="name" class="col-sm-2 col-form-label">College</label>
          <div class="col-sm-10">
            <input type="text" formControlName="college" class="form-control" id="college" placeholder="Enter College" value={{user.college}}>
          </div>
        </div>

        <div class="row">
          <label for="name" class="col-sm-2 col-form-label">Date Of Birth</label>
          <div class="col-sm-10">
            <input type="date" formControlName="dob" class="form-control" id="dob"  [value]=replaceTZ(user.dob)>
          </div>
        </div>

        <div class="row">
          <label for="name" class="col-sm-2 col-form-label">Joined On</label>
          <div class="col-sm-10">
            <input type="text" formControlName="joinedOn" class="form-control"  [value]=replaceTZ(user.joinedOn)>
          </div>
        </div>
        <div class="row">
            <label for="name" class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-10">
                  <select class="form-control"
                  name="gender"
                  formControlName="gender"
                  value={{user.gender}}
                  >
                  <option value="" disabled selected>Choose...</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
            </div>
            <div class="row">
                        <input
                        type="submit" id="save" class="btn-lg btn-success ml-auto"
                        value="Save" >
            </div>
      </div>
    </form>
  </div>
