<div  class="container">
  <div  class="row">
    <div  class="col-md-12">
      <button  class="btn btn-warning">Add Contest</button>
    </div>
  </div>
</div>

<br >

<ul  class="cards">
  <li  class="cards__item ">
    <div  class="card">
      
      <div  class="card__content">
        <div  class="card__title">INTRA sd</div>
        <p  class="card__text"> </p>
        <button  class="btn btn--block card__btn">Grab me!</button>
      </div>
    </div>
  </li><li  class="cards__item ">
    <div  class="card">
      
      <div  class="card__content">
        <div  class="card__title">INFINITY WAR IFEDG</div>
        <p  class="card__text">Infinity war
 </p>
        <button  class="btn btn --block card__btn">Grab me!</button>
      </div>
    </div>
  </li><li  class="cards__item ">
    <div  class="card">
      <div  class="card__image card_thor"></div>
      <div  class="card__content">
        <div  class="card__title">THOR iwthor</div>
        <p  class="card__text">Thor, the God of Thunder is considered as the strongest Avenger </p>
        <button  class="btn btn--block card__btn">Grab me!</button>
      </div>
    </div>
  </li>
</ul>