<div  class="container">
  <div  class="row">
    <div  class="col-md-12">
      <button  class="btn btn-warning" *ngIf="authService.checkisAdmin() === true" (click)="onAddContest()">Add Contest</button>
    </div>
  </div>
</div>

<br>

<div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let i of contest">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" *ngIf="i.name === 'Captain America'" src="../../assets/antman.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">{{i.name}}</h4>
                <p class="card-text">{{i.description}}</p>
                <button class="btn btn-success">Grab Me!!</button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

<!--
<ul  class="cards">
  <li  class="cards__item">
    <div  class="card">

      <div  class="card__content">
        <div  class="card__title">INTRA sd</div>
        <p  class="card__text"> </p>
        <button  class="btn btn--block card__btn" (click)="onClickGrab(i)">Grab me!</button>
      </div>
    </div>
  </li>
</ul>
-->
