<div class="container" *ngIf="authService.checkisAdmin() === true" >
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-warning" (click)="onAddProblem()">Add Problems</button>
      <button class="btn btn-danger" (click)="onDeleteContest()">Delete Contest</button>
    </div>
  </div>
</div>
<div class="container main">
  <div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/contest">Contest</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{contestname}}</li>
            </ol>
          </nav>
          <div class="row">
            <div class="col-md-7"><h1 class="display-4">{{contestname}}</h1></div>

          </div>


    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6 head">
              Problem
            </div>
            <div class="col-md-3 head">
              Problem Code
            </div>
            <div class="col-md-3 head">
              Successful Submission
            </div>
          </div>
          <a
          class="nav-link problem"
          *ngFor="let i of problems"
          (click)="onSelectProblem(i.code)">
            <div class="row">
              <div class="col-md-6">
                {{i.name}}
              </div>
              <div class="col-md-3">
                {{i.code}}
              </div>
            </div>
          </a>
    </div>
    <div class="col-md-3">
      <div class="timer">
        <p>Time to start</p>
        <div id="timer">
          <!--<span>{{days}}</span>days
          <span>{{hours}}</span>hours
          <span>{{minutes}}</span>minutes
          <span>{{seconds}}</span>seconds
          <span id="day"></span>days
          <span id="hour"></span>hours
          <span id="minute"></span>minutes
          <span id="second"></span>seconds
          {{times}}-->
        </div>
      </div>
      <div class="ranking">
        <button class="btn btn-info" (click)="onClickRanking()">Contest Rankings</button>
      </div>
    </div>
  </div>
  </div>
