.problem{
    background: white;
    border-bottom: 1px solid rgba(39,39,39,.1);
    padding: 1% 0.5%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}

.breadcrumb{
    background-color: inherit;
    padding-top: 2%;
    margin: 0;
}

.head {
    padding: 2%;
    font-size: 14px;
    font-weight: bold;
    background: #111;
    color: #fff;
}
.row{
    margin: 0;
}


.col-md-3 {
    text-align: center;
    padding-right:0% !important;
}

.display-4{
    padding-left: 1%;
}
.main {
    margin-top: 1%;
    background: white;
    padding: 2%;
    border: 4px;
    min-height: 800px;
}


button.btn.btn-info{
  margin-top:4%;
}

#box-el{
  padding:0.5rem!important;
  color: rgb(15, 15, 15);
  background: rgb(231, 240, 55);

}
