<div class="container top">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Passworrd Assistance</h2>

        </div>
        <div class="card-body">
          <p>Enter the email address associated with your HackerCamp account.</p>
          <form [formGroup]="form" (submit)="onForgot()">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="username">Email Id</label>
                    </div>
                    <div class="col-md-9">
                        <input type="email"
                        name="email_id"
                        formControlName="email_id"
                        class="form-control"
                        placeholder="Enter Email Id"
                        autocomplete="off"

                        >
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-2"><input value="Set Password" type="submit" class="btn btn-primary">
                  </div>
                  </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>