<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Online IDE</h1>
            <div class="row select">
            <h5>Select language</h5>
            <select (change)="selectLanguage($event)" class="options">
                <option value="c_cpp">C</option>
                <option value="c_cpp">C++</option>
                <option value="java">Java</option>
                <option value="python">Python</option>
            </select>
        </div>

            <div ace-editor id="" cols="105" rows="28"
                 [text]="content"
                 class="aceEditorDirective"
                 theme="eclipse"
                 mode="{{selectedLanguage}}"
                 style="height:500px;"></div>


            <div class="row">
            <div class="col-md-8">
                <label class="file-upload">Upload File
                    <input type="file" class="form-control-file">
                </label>
            </div>
            <div class="col-md-4">
                <div class="form-check mr-auto">
                    <button class="btn btn-dark">Compile</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
