<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Online IDE</h1>
            <textarea name="" id="" cols="105" rows="28" ></textarea>  
            <div class="row">
            <div class="col-md-8">
                <label class="file-upload">Upload File
                    <input type="file" class="form-control-file">
                </label>
            </div>
            <div class="col-md-4">
                <div class="form-check mr-auto">
                    <button class="btn btn-dark">Compile</button>
                    
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
