
.insingleblock{
  box-shadow: 0 1px 15px 1px rgba(14, 14, 14, 0.1);
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#select{
  border: 2px solid red;
}
input[type="file"] {
   display: none;
}

textarea{
    overflow-x: hidden;
    padding: 5px;
    height:100px;
    width:400px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.select {
    margin: 2% 1%;
}

.options{
    margin-left: 2%;
}
#submit{
  margin-top: 50px;
}
#text{
  width:600px;
}
