
.insingleblock{
  box-shadow: 0 1px 15px 1px rgba(14, 14, 14, 0.1);
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 5px;
}



textarea{
    overflow-x: hidden;
    padding: 5px;
<<<<<<< HEAD
    height:200px;
    width:400px;
=======
    height:100px;
    width:100%;
>>>>>>> 636810b29482e8ac4d741dd95e039bc36785428e
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.select {
    margin: 2% 1%;
}
.choose{
  margin: 2%;
}
.options{
    margin-left: 2%;
}
#text{
  width:100%;
}

.sub{
  margin-bottom: 2%;
}
#myOutputArea{
  border: 1px solid black;
  background:aliceblue;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  font-size: 18px;
}

.output{
  background: blue;
}
