<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Online IDE</p>
            <textarea name="" id="" cols="118" rows="28" ></textarea>  
            <div class="row">
            <div class="col-md-8">
                    <input type="file" class="form-control-file">
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    <button class="btn btn-dark">Compile</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
