
.sol{
    padding: 3% 0;
}
.fa-times{
    color: #e74c3c;
}

.fa-clock-o{
    color: #3498db;
}

.fa-check{
    color: #2ecc71;
}

.fa-exclamation-triangle{
    color: #f1c40f;
}

.fa-exclamation-circle{
    color: #c0392b;
}
