    

textarea{
    overflow-x: hidden;
}


.options{
    margin-left: 2%;
}

.insingleblock{
  box-shadow: 0 1px 15px 1px rgba(14, 14, 14, 0.1);
  border-radius: 4px;
  background-color: white;
}

.insingleblock{
    box-shadow: 0 1px 15px 1px rgba(14, 14, 14, 0.1);
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  
  
  textarea{
      overflow-x: hidden;
      padding: 5px;
      width:100%;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .select {
    margin: 0px;
    margin-bottom: 4px;
    padding: 1%;
    padding-left: 2%;
    background: gray;
    color: white;
  }
  .choose{
    margin: 2%;
    margin-bottom: 0;
    padding-bottom: 2%;
  }
  .options{
      margin-left: 2%;
  }
  #text{
    width:100%;
  
  }
  
  .sub{
    margin-bottom: 2%;
  }
  #myOutputArea{
    border: 1px solid black;
    background:aliceblue;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    font-size: 18px;
  }
  
  .output{
    background: blue;
  }
  