
.file-upload{
    padding: 10px;
    background: red;
    display: table;
    color: #fff;
}

input[type="file"] {
   display: none;
}

textarea{
    overflow-x: hidden;
}

.row.select {
    margin-left: 1%;
}

.options{
    margin-left: 2%;
}

.insingleblock{
  box-shadow: 0 1px 15px 1px rgba(14, 14, 14, 0.1);
  border-radius: 4px;
  background-color: white;
}

#description{
  margin: 2%;
}
#select{
  border: 1.5px solid red;
}
