<app-navbar></app-navbar>
<div class="jumbotron">
  <h1 class="display-4">HackerCamp</h1>
  <hr class="my-4">
  <p class="lead">HackerCamp is an open-source educational initiative of the students of Techno India Salt Lake.</p>

  <p class="lead">It is a platform dedicated to cometitive coding made by students for students.</p>

  <p class="lead">It supports the 4 most used programming languages i.e, C, C++, JAVA and Python.</p>

  <p class="lead">It is a budding community of programmers.</p>

  <p class="lead"> HackerCamp helps students improve their coding skills.Its objective is to provide a platform for practice, competition and improvement for students.</p>

  <p class="lead"> Apart from this, it aims to reach out to high school students while they are young and inculcate a culture of programming in India.</p>
</div>
<app-footer></app-footer>
