.pb-cmnt-container {
    font-family: Lato;
    margin-top: 10px;
}

.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #F2F2F2;
}