<div class="page-header header-filter clear-filter"
 data-parallax="true"
  style="background-image: url(../../assets/bg0.jpg); transform: translate3d(0px, 0px, 0px);">
  <div class="container">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
              <div class="brand">
                  <h1>HackerCamp
                  </h1>
                  <h3 class="title"> Eat, Code, Sleep and Repeat </h3>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-info text-center" role="alert">
                <strong>New to Coding </strong> and want to know where to start from? 
                <button class="btn btn-info">Get Started</button> 
            </div>
        </div>
        <div class="col-md-3">
            <div class="alert alert-light text-center" role="alert">
                Follow us on
                <span class="share">
                        <a href="https://www.twitter.com/GeekonixEDGE" target="_blank">
                            <i aria-hidden="true" class="fa fa-twitter-square icon fa-2x "></i>
                        </a>
                        <a href="https://www.instagram.com/geekonix" target="_blank">
                          <i aria-hidden="true" class="fa fa-instagram icon fa-2x "></i>
                      </a><a href="https://www.youtube.com/c/GeekonixEDGEOfficial" target="_blank">
                        <i aria-hidden="true" class="fa fa-youtube-play icon fa-2x "></i>
                         </a>
                         <a href="https://www.facebook.com/Gx.Edg" target="_blank">
                      <i aria-hidden="true" class="fa fa-facebook-square icon fa-2x "></i>
                        </a>    
                </span>
                
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
