.page-header {
    height: 90vh;
    overflow: hidden;
    
}
.header-filter {
    position: relative;
}

.page-header {
    height: 60vh;
    background-position: 50%;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    opacity: 0.85;

}


.header-filter:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.brand {
    color: #fff;
    text-align: center;
}

.brand h3 {
    font-size: 1.313rem;
    max-width: 500px;
    margin: 10px auto 0;
}

.col-md-9,.col-md-3{
    padding: 0%;
}

.alert{
    border-radius: 0;
}

.alert-light{
    padding: 4.1% 10px;
}