<div class="page-header header-filter clear-filter"
 data-parallax="true"
  style="background-image: url(../../assets/bg0.jpg); transform: translate3d(0px, 0px, 0px);">
  <div class="container">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
              <div class="brand">
                  <h1>HackerCamp
                  </h1>

                  <h3 class="title"> Eat, Code, Sleep and Repeat </h3>
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
