<div class="page-header header-filter clear-filter"
 data-parallax="true"
  style="background-image: url(../../assets/bg0.jpg); transform: translate3d(0px, 0px, 0px);">
  <div class="container">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
              <div class="brand">
                  <h1>HackerCamp
                  </h1>
                  <h3 class="title"> Eat, Code, Sleep and Repeat </h3>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-info text-center" role="alert">
                <strong>New to Coding </strong> and want to know where to start from?
                <button class="btn btn-info"(click)="onGetStarted()">Get Started</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="alert alert-light text-center" role="alert">
                Follow us on
                <span class="share">
                        <a href="https://www.twitter.com/GeekonixEDGE" target="_blank">
                            <i aria-hidden="true" class="fa fa-twitter-square icon fa-2x "></i>
                        </a>
                        <a href="https://www.instagram.com/geekonix" target="_blank">
                          <i aria-hidden="true" class="fa fa-instagram icon fa-2x "></i>
                      </a><a href="https://www.youtube.com/c/GeekonixEDGEOfficial" target="_blank">
                        <i aria-hidden="true" class="fa fa-youtube-play icon fa-2x "></i>
                         </a>
                         <a href="https://www.facebook.com/Gx.Edg" target="_blank">
                      <i aria-hidden="true" class="fa fa-facebook-square icon fa-2x "></i>
                        </a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <p>HackerCamp - A Platform for Aspiring Programmers</p>

        <p>
            HackerCamp was created as a platform to help programmers make it big in the world of algorithms, computer programming and programming contests.
             At HackerCamp we work hard to revive the geek in you by hosting a programming contest at the start of the month and another smaller programming challenge in the middle of the month. We also aim to have training sessions and discussions related to algorithms, binary search, technicalities like array size and the likes. Apart from providing a platform for programming competitions, and forum discussions to help those who are new to the world of computer programming.
        </p>


            Practice Section - A Place to home your 'Computer Programming Skills'
            Try your hand at one of our many practice problems and submit your solution in a language of your choice. Our programming contest judge accepts solutions in over 4 programming languages. Preparing for coding contests were never this much fun!. Use our practice section to better prepare yourself for the multiple programming challenges that take place through-out the month on HackerCamp.

            Compete - Monthly Programming Contests
            Here is where you can show off your computer programming skills.
          </div>
</div>
