
<div class="row" *ngIf="user" >
<div class="col col-md-4">
    <i class="fas fa-cloud-upload-alt"></i>
    <div class="profile-img">
        <img src="../assets/undefined.jpg" class="circle img-fluid" alt="user">
    </div>
</div>
<div class="col col-md-8">
   <div class="bold"><b>{{user.name}}</b> ( {{user.username}})
    <button class="btn btn-success"
         (click)="onSubmitSel()">Edit</button>
  </div>
  <div class="college">
    {{user.college}}

  </div>

  <br>
  <ul class="list-group">
      <li class="list-group-item">Email: {{user.email_id}}</li>
      <li class="list-group-item">Date Of Birth: {{ user.dob }}</li>
      <li class="list-group-item">City: {{ user.city }}</li>
      <li class="list-group-item">Gender: {{ user.gender }}</li>
      <li class="list-group-item">JoinedOn: {{ user.joinedOn }}</li>
  </ul>
</div>
</div>
