<div *ngIf="user">
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email_id}}</li>
    <li class="list-group-item">Name: {{ user.name }}</li>
    <li class="list-group-item">College: {{ user.college }}</li>
    <li class="list-group-item">Date Of Birth: {{ user.dob }}</li>
    <li class="list-group-item">City: {{ user.city }}</li>
    <li class="list-group-item">Gender: {{ user.gender }}</li>
    <li class="list-group-item">JoinedOn: {{ user.joinedOn }}</li>
  </ul>
</div>
