.circle{
  margin-top: 40px;
  width: 80%;
   border-radius: 120px;
   margin-left: 25%;
}
.bold{
  text-align: center;
  font-size:35px !important;
}
.college{
  text-align: center;
  font-size: 25px;
}
